In [1]:
import pandas as pd
import eda

In [2]:
network = pd.read_csv('../data/03_Wisenut/wisenut_dataset.csv', encoding='utf-8',
                      sep='\x07')
print(network.shape)
network.head()

(35, 133)

,SEQ,GU_CD,GU_NM(삭제),DONG_CD,DONG_NM(삭제),NEWS_CNT_201902,NEWS_CNT_201903,NEWS_CNT_201904,NEWS_CNT_201905,NEWS_CNT_202002,...,UP5_NEGATIVE_202004,UP5_NEGATIVE_202005,UP6_NEGATIVE_201902,UP6_NEGATIVE_201903,UP6_NEGATIVE_201904,UP6_NEGATIVE_201905,UP6_NEGATIVE_202002,UP6_NEGATIVE_202003,UP6_NEGATIVE_202004,UP6_NEGATIVE_202005
0,1,140,서울 중구,520,소공동,4,6,16,34,26,...,24,0,7,11,186,5,1,6,0,10
1,2,140,서울 중구,540,회현동,4,0,8,27,15,...,27,17,49,1,63,251,0,58,0,71
2,3,140,서울 중구,550,명동,6,16,29,44,162,...,35,46,34,74,226,137,17,84,22,326
3,4,140,서울 중구,570,필동,0,1,5,24,2,...,24,0,1,17,162,14,0,46,22,37
4,5,140,서울 중구,580,장충동,13,8,13,34,20,...,8,17,0,0,199,12,5,0,22,125

In [3]:
network = eda.initial_preprocessing(network)

In [4]:
channel = eda.sns_melting(network, ['NEWS', 'BLOG', 'CAFE'])
channel = eda.sns_preprocessing(channel,
                                {'NEWS':'뉴스', 'BLOG':'블로그', 'CAFE':'카페'},
                                colname='CHNL_NM')
print(channel.shape)
channel.head()

(840, 5)

     STD_YMD  GU_NM HDONG_NM CHNL_NM  CNT
0 2019-02-01  서울 중구      소공동      뉴스    4
1 2019-02-01  서울 중구      회현동      뉴스    4
2 2019-02-01  서울 중구       명동      뉴스    6
3 2019-02-01  서울 중구       필동      뉴스    0
4 2019-02-01  서울 중구      장충동      뉴스   13

In [10]:
topic = eda.sns_melting(network, 'TOPIC', value_name='TOPIC')
topic = eda.sns_preprocessing(topic, value_name='TOPIC')
print(topic.shape)
topic.head()

(280, 4)

     STD_YMD  GU_NM HDONG_NM                      TOPIC
0 2019-02-01  서울 중구      소공동          장관,기념식,창간,롯데호텔,뷔페
1 2019-02-01  서울 중구      회현동     회현동,서울역,도시재생,윤동주,일제강점기
2 2019-02-01  서울 중구       명동   생활유산,열쇠고리,신세계백화점,리뉴얼,관광객
3 2019-02-01  서울 중구       필동  저작권,영남상생포럼,자유한국장,지적,그랜드호텔
4 2019-02-01  서울 중구      장충동         빵집,태극당,신라호텔,세관,감사원

In [11]:
post = eda.sns_melting(network, ['POSITIVE', 'NEGATIVE'])
post = eda.sns_preprocessing(post,
                             {'UP1':'숙박', 'UP2':'레저업소', 'UP3':'문화취미',
                              'UP4':'의료기관', 'UP5':'보건위생', 'UP6':'요식업소'},
                             colname='UP_NM')
print(post.shape)
post.head()

(3360, 5)

     STD_YMD  GU_NM HDONG_NM UP_NM  CNT
0 2019-02-01  서울 중구      소공동    숙박    5
1 2019-02-01  서울 중구      회현동    숙박   13
2 2019-02-01  서울 중구       명동    숙박  106
3 2019-02-01  서울 중구       필동    숙박   32
4 2019-02-01  서울 중구      장충동    숙박   29